<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname 1</th>
                <th>Surname 2</th>
                <th>Email</th>
                <th>Course</th>
                <th>Module</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.surname1 }}</td>
                <td>{{ student.surname2 }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.module }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
